@model workforce_management.ViewModels.ComputerIndex
@using Bangazon.Models;

<h2>Computers</h2>

<a asp-controller="Computer" asp-action="Add"><input type="button" class="btn btn-primary" value="Add a new Computer" /></a>

@if (ViewBag.ComputerDeleteError != null)
{
<div style="margin-top:15px" class="alert alert-danger" role="alert">
    <span style="margin-right:5px" class="glyphicon glyphicon-alert" aria-hidden="true"></span>@ViewBag.ComputerDeleteError
</div>
}

@if (ViewBag.ComputerDeleteSuccess != null)
{
    <div style="margin-top:15px" class="alert alert-success" role="alert">
        <span style="margin-right:5px" class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>@ViewBag.ComputerDeleteSuccess
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>Serial Number</th>
            <th>Make</th>
            <th>Model</th>
            <th>Employee</th>
            <th>@* Empty cell where the delete button will go in each row *@</th>
        </tr>
    </thead>
    <tbody>
        @foreach (KeyValuePair<Computer, Employee> comp in Model.ComputerDictionary)
        {
            Computer computer = comp.Key;
            Employee employee = comp.Value;
            <tr>
                <td>@computer.SerialNumber.ToString()</td>
                <td>@computer.Make.ToString()</td>
                <td>@computer.Model.ToString()</td>
                <td>
                    @if (employee != null)
                    {
                        <a asp-controller="Employee" asp-action="Detail" asp-route-id="@employee.EmployeeId">@employee.FirstName @employee.LastName</a>
                    }
                    else
                    {
                        @("Unassigned");
                    }
                </td>
                <td><a asp-controller="Computer" asp-action="Delete" asp-route-id="@computer.ComputerId"><span style="color:firebrick" class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
            </tr>
        }
    </tbody>
</table>