@model workforce_management.ViewModels.EmployeeList
@using Bangazon.Models;

<h2>Employees</h2>
<a asp-controller="Employee" asp-action="Add"><input type="submit" value="Add an Employee" class="btn btn-primary" /></a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Department</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Employee employee in @Model.Employees)
            { 
                <tr>
                    <td><a asp-action="Detail" asp-route-id="@employee.EmployeeId">@Html.DisplayFor(model => employee.FirstName) @Html.DisplayFor(model => employee.LastName)</a></td>
                    <td>@Html.DisplayFor(model => employee.Department.Name)</td>
                </tr>
            }
    </tbody>
</table>

<a asp-controller="Employee" asp-action="Add"><input type="submit" value="Add an Employee" class="btn btn-primary" /></a>
